Node-Red/Espesores Json To InfluxDb.json
[{"id":"fd8c90d3.f7117","type":"tab","label":"Espesores Json To InfluxDb","disabled":false,"info":""},{"id":"7f3f0a.25dc20f8","type":"influxdb batch","z":"fd8c90d3.f7117","influxdb":"9648c4b.47bff38","precision":"","retentionPolicy":"","name":"Bd Command Vidrala","x":700,"y":300,"wires":[]},{"id":"65206f37.c8a2b","type":"mqtt in","z":"fd8c90d3.f7117","name":"Mqtt In Espesores Json","topic":"EspesoresCsv","qos":"2","datatype":"auto","broker":"64e6e425.e8540c","x":140,"y":220,"wires":[["dd744170.78d3b"]]},{"id":"dd744170.78d3b","type":"function","z":"fd8c90d3.f7117","name":"Json Converter","func":"msg.payload=JSON.parse(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["7f3f0a.25dc20f8","f632ae9c.d786d"]]},{"id":"f632ae9c.d786d","type":"debug","z":"fd8c90d3.f7117","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"82670da4.1cc81","type":"catch","z":"fd8c90d3.f7117","name":"Catch Error from Command InfluxBd","scope":["7f3f0a.25dc20f8"],"uncaught":false,"x":180,"y":40,"wires":[["b7842fe8.64929"]]},{"id":"b7842fe8.64929","type":"debug","z":"fd8c90d3.f7117","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":660,"y":40,"wires":[]},{"id":"9648c4b.47bff38","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Vidrala","name":"","usetls":false,"tls":""},{"id":"64e6e425.e8540c","type":"mqtt-broker","z":"","name":"","broker":"10.50.2.99","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]