Node-Red/Espesores Csv to Json Send Mqtt.json
[{"id":"4ec3ac33.9ee0c4","type":"tab","label":"Espesores Csv to Json Send Mqtt","disabled":false,"info":""},{"id":"40424e1a.741e5","type":"watch","z":"4ec3ac33.9ee0c4","d":true,"name":"Watch Directory Tmp vahor0511SPC$","files":"\\\\vahor0511\\\\SPC$","recursive":"","x":170,"y":160,"wires":[["662085.ff113f7c"]]},{"id":"662085.ff113f7c","type":"fs-ops-access","z":"4ec3ac33.9ee0c4","name":"Check If Exists File","path":"\\\\vahor0511\\\\SPC$","pathType":"str","filename":"file","filenameType":"msg","read":true,"write":false,"throwerror":false,"x":250,"y":380,"wires":[["ba15690d.8adaf8"],[]]},{"id":"d3bbe3e.fcae42","type":"mqtt out","z":"4ec3ac33.9ee0c4","name":"Mqtt Out Espesores Json","topic":"EspesoresCsv","qos":"","retain":"","broker":"4baa5e4.56927a","x":1290,"y":240,"wires":[]},{"id":"d7e0fc80.0ca2","type":"function","z":"4ec3ac33.9ee0c4","name":"Process Json Espesores To Influx Db","func":"//node.log(\"Csv Readed converting to batch influx to send to mqtt.\");\nvar json=msg.payload;\nvar jsonsToInsert=[];\nvar i;\n\ntry\n{\n    for (i=0;i<json.length-1;i++)\n    {\n        var fechajson = json[i].FechaFinMedida;\n        var splitDate = fechajson.split(\" \");\n        var date = splitDate[0].split(\"/\");\n        var timereplace= splitDate[1].replace(\",\",\":\");\n        var time = timereplace.split(\":\");\n       \n        // Obtenemos los campos individuales para todas las partes de la fecha\n        var dd = date[0];\n        var mm = date[1] - 1;\n        var yyyy = date[2];\n        var hh = time[0];\n        var min = time[1];\n        var ss = time[2];\n        var ms= time[3];\n        var moment = global.get('tzModule');\n            \n        // Creamos la fecha con Javascript\n        var fecha = new Date(yyyy, mm, dd, hh, min, ss);\n        var timestamp = moment(fecha).unix() + ms +'000000';\n        var tags=[{\n        \"NumeroMolde\": json[i].NumeroMolde.trim(),\n        \"ramal\": json[i].Ramal.trim()\n        }];\n    \tvar fields = [{\n    \t\"id\": parseInt(json[i].id.trim()),\n        \"MIN1\": json[i].MIN1.trim(),\n    \t\"MIN2\": json[i].MIN2.trim(),\n    \t\"MIN3\": json[i].MIN3.trim(),\n    \t\"MIN4\": json[i].MIN4.trim(),\n    \t\"MED1\": json[i].MED1.trim(),\n    \t\"MED2\": json[i].MED2.trim(),\n    \t\"MED3\": json[i].MED3.trim(),\n    \t\"MED4\": json[i].MED4.trim(),\n    \t\"MAX1\": json[i].MAX1.trim(),\n    \t\"MAX2\": json[i].MAX2.trim(),\n    \t\"MAX3\": json[i].MAX3.trim(),\n    \t\"MAX4\": json[i].MAX4.trim(),\n    \t\"OVAL1\": json[i].OVAL1.trim(),\n    \t\"OVAL2\": json[i].OVAL2.trim(),\n    \t\"OVAL3\": json[i].OVAL3.trim(),\n    \t\"OVAL4\": json[i].OVAL4.trim(),\n    \t\"NumLeidos1\": json[i].NumLeidos1.trim(),\n    \t\"NumLeidos2\": json[i].NumLeidos2.trim(),\n    \t\"NumLeidos3\": json[i].NumLeidos3.trim(),\n    \t\"NumLeidos4\": json[i].NumLeidos4.trim(),\n    \t\"RECH1\": json[i].RECH1.trim(),\n    \t\"RECH2\": json[i].RECH2.trim(),\n    \t\"RECH3\": json[i].RECH3.trim(),\n    \t\"RECH4\": json[i].RECH4.trim(),\n    \t\"CAV\": json[i].CAV,\n    \t\"field31\": json[i].field31\n        }];\n        \n        var jsonToInsert = {\n        \"timestamp\": timestamp,\n        \"measurement\": \"Espesores\",\n        \"tags\": {\n        \"NumeroMolde\": json[i].NumeroMolde.trim(),\n        \"ramal\": json[i].Ramal.trim()\n        },\n        \"fields\": fields[0]\n        }; \n        if(jsonToInsert.timestamp!='NaN000000000')\n        {\n            jsonsToInsert.push(jsonToInsert);\n        }\n        \n    }\n    if(jsonsToInsert.length>0)\n    {\n        //node.log(\"Sending Json to Mqtt Broker. Id: \" + JSON.stringify(fields[0].id) + \". Numero Molde: \" + JSON.stringify(tags[0].NumeroMolde) + \". Ramal: \" + JSON.stringify(tags[0].ramal) + \".\");\n        msg.payload=jsonsToInsert;\n        return msg;\n    }\n    else\n    {\n        node.log(\"No data to send to Mqtt Broker.\");\n    }\n}\ncatch(e)\n{\n    node.log(\"Error ocurred. Data: \" + JSON.stringify(jsonsToInsert[0]));    \n}\n","outputs":1,"noerr":0,"x":1090,"y":100,"wires":[["d3bbe3e.fcae42","125962a5.e7feed"]]},{"id":"7cd31e9c.b8456","type":"csv","z":"4ec3ac33.9ee0c4","name":"Csv To Json Espesores Converter","sep":";","hdrin":"","hdrout":false,"multi":"mult","ret":"\\r\\n","temp":"\"FechaFinMedida\",\"id\",\"FechaInicioMedida\",\"NumeroMolde\",\"Ramal\",\"MIN1\",\"MIN2\",\"MIN3\",\"MIN4\",\"MED1\",\"MED2\",\"MED3\",\"MED4\",\"MAX1\",\"MAX2\",\"MAX3\",\"MAX4\",\"OVAL1\",\"OVAL2\",\"OVAL3\",\"OVAL4\",\"NumLeidos1\",\"NumLeidos2\",\"NumLeidos3\",\"NumLeidos4\",\"RECH1\",\"RECH2\",\"RECH3\",\"RECH4\",\"CAV\"","skip":"0","strings":false,"x":980,"y":200,"wires":[["d7e0fc80.0ca2"]]},{"id":"10d9e6c8.5bb589","type":"debug","z":"4ec3ac33.9ee0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","x":320,"y":620,"wires":[]},{"id":"a4da4c3a.7d44d","type":"powershell","z":"4ec3ac33.9ee0c4","name":"PowerShell Command Espesores","x":820,"y":280,"wires":[["7cd31e9c.b8456"],[]]},{"id":"ba15690d.8adaf8","type":"function","z":"4ec3ac33.9ee0c4","name":"Check Filename and Extension. Change FileName and Path script ps.","func":"    var moment = global.get('tzModule');\n    var hora=moment().format('h:mm:ss');\n    //Se pasa la hora para esperar a que el fichero no se este escribiendo\n    msg.hora=hora;\n    \n    var pathwithfile=msg.payload;\n    var require = global.get('require');\n    var path = require('path');\n    var extension=path.extname(pathwithfile);\n    var splitname = msg.file.split(\"_\");\n    if(extension!='.txt' || splitname[0]!='VMA')\n    {\n        return;\n    }\n    else\n    {\n        var pathprevio=global.get(\"pathprevio\");\n        if (pathprevio!=pathwithfile)\n        {\n           \n            global.set(\"pathprevio\",msg.payload);\n            var fs = require(\"fs\");\n            //PowerShell Command to do Tail of last 10 lines\n            var data = \"Get-Content \"+ pathwithfile + \" -Tail 10\";\n            var buffer = new Buffer(data);\n            fs.open(\"C:\\\\Users\\\\ibermatica\\\\Desktop\\\\node-red-contrib-powershell\\\\powershellscripts\\\\pwtail10Espesores.ps1\", 'w', function(err, fd) {\n                if (err) {\n                    throw 'error opening file: ' + err;\n                }\n            \n                fs.write(fd, buffer, 0, buffer.length, null, function(err) {\n                    if (err) throw 'error writing file: ' + err;\n                    fs.close(fd, function() {\n                         msg.payload=\"C:\\\\Users\\\\ibermatica\\\\Desktop\\\\node-red-contrib-powershell\\\\powershellscripts\\\\pwtail10Espesores.ps1\";\n                         return msg;\n                    })\n                });\n            });\n    \n        }\n        else\n        {\n            msg.payload=\"C:\\\\Users\\\\ibermatica\\\\Desktop\\\\node-red-contrib-powershell\\\\powershellscripts\\\\pwtail10Espesores.ps1\";\n            return msg;\n        }\n    }\n\n\n   \n\n","outputs":1,"noerr":0,"x":610,"y":440,"wires":[["f67a3ff7.2299b"]]},{"id":"af282f7b.c0fdc","type":"catch","z":"4ec3ac33.9ee0c4","d":true,"name":"","scope":["40424e1a.741e5","662085.ff113f7c","d7e0fc80.0ca2","a4da4c3a.7d44d","ba15690d.8adaf8"],"uncaught":false,"x":70,"y":520,"wires":[["5212bd6.aad6544","d66667d4.7be3a8","10d9e6c8.5bb589"]]},{"id":"5212bd6.aad6544","type":"function","z":"4ec3ac33.9ee0c4","name":"Send Error Mail Joseba","func":"msg.payload=\"Ha ocurrido un error en el flujo: \" + msg.error.source.id + \" Nombre del nodo: \"  + msg.error.source.name+ \". Mensaje: \"+ msg.error.message+\". Por favor verifique lo que ha ocurrido. Gracias.\";\nmsg.topic=\"Node Red Error\";\nmsg.to=\"j.menoyo@vidrala.com\";\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["396e7727.94de98"]]},{"id":"396e7727.94de98","type":"e-mail","z":"4ec3ac33.9ee0c4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Send Mail Node Red","x":640,"y":540,"wires":[]},{"id":"d66667d4.7be3a8","type":"function","z":"4ec3ac33.9ee0c4","name":"Send Error Mail Daniel","func":"msg.payload=\"Ha ocurrido un error en WMA Csv en el flujo: \" + msg.error.source.id + \" Nombre del nodo: \"  + msg.error.source.name+ \". Mensaje: \"+ msg.error.message+\". Por favor verifique lo que ha ocurrido. Gracias.\";\nmsg.topic=\"Node Red Error\";\nmsg.to=\"d.garcia.lopez@ibermatica.com\";\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["396e7727.94de98"]]},{"id":"44d73641.b3c188","type":"delay","z":"4ec3ac33.9ee0c4","name":"Esperar 1 seg si son las 6:00:00","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":100,"wires":[["a4da4c3a.7d44d"]]},{"id":"f67a3ff7.2299b","type":"switch","z":"4ec3ac33.9ee0c4","name":"Switch Hora 6:00:00","property":"hora","propertyType":"msg","rules":[{"t":"eq","v":"6:00:00","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":200,"wires":[["44d73641.b3c188"],["a4da4c3a.7d44d"]]},{"id":"f8a9f615.d6ed08","type":"inject","z":"4ec3ac33.9ee0c4","name":"","topic":"Do every 2 seg","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["35709972.86b636"]]},{"id":"35709972.86b636","type":"function","z":"4ec3ac33.9ee0c4","name":"Set name file","func":"var moment = global.get('tzModule');\nmsg.payload=\"\\\\\\\\vahor0511\\\\\\\\SPC$\\\\\\\\\" + \"VMA\" + \"_\" + moment().format('YYYYMMDD') + \"_\" + \"060000\" + \".txt\";\nmsg.file=\"VMA\" + \"_\" + moment().format('YYYYMMDD') + \"_\" + \"060000\" + \".txt\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["662085.ff113f7c"]]},{"id":"235534e7.58635c","type":"inject","z":"4ec3ac33.9ee0c4","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["35709972.86b636"]]},{"id":"125962a5.e7feed","type":"debug","z":"4ec3ac33.9ee0c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":100,"wires":[]},{"id":"4baa5e4.56927a","type":"mqtt-broker","z":"","name":"Broker Linux Azure","broker":"10.50.2.99","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]